// Mixins
%font_1{
    font-family: 'Gotham', sans-serif;
}
$margin_default: 32.5px;

//font size 
@mixin font-size($sizeValue: 16 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}
  
@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
  
@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}
@mixin hr($color: $first, $width: 30px, $height: 8px){
    color:$color;
    background-color:$color;
    height: $height;
    width: $width;
}
@mixin btn($color: $first, $background: $second, $colorHover: $first, $bgHover: $first, $padding: 22px 35px){
    color: $color;
    border-color: $color;
    background: $background;
    padding: $padding;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        color: $colorHover;
        border-color: $color;
        background: $bgHover;
    }
}
@mixin margin_default {
    margin-top: 25px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md){
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

%box_default{
    @extend %background_fourth;
    box-shadow: 0px 0px 10px #4E528D40;
    border-radius: $border-radius-default*2;
    padding: 39px 33px;
    @include media-breakpoint-up(lg){
        padding: 48px 95px;

    }
}
%text_default{
    letter-spacing: 0em;
    font-style: normal;
    font-weight: 400;
    @extend %color_secondary;
    @include rhythm(14, 24);
    @include media-breakpoint-up(lg){
        @include rhythm(14, 26);

    }
}

%h1_header{
    @include rhythm(45, 60);
    letter-spacing: 0px;
    @extend %color_fourth;
    font-weight: 700;
    @include media-breakpoint-up(lg){
        @include rhythm(60, 62);

    }
}
%h2_header{
    @include rhythm(16, 26);
    letter-spacing: 0px;
    @extend %color_fourth;
    font-weight: 700;
    @include media-breakpoint-up(lg){
        @include rhythm(18, 26);

    }
}

%h2_content{
    @include rhythm(28, 40);
    letter-spacing: 0px;
    @extend %color_secondary;
    font-weight: 700;
    @include media-breakpoint-up(lg){
        @include rhythm(40, 50);

    }
}




%color_first{
    color: $first;
}
%color_secondary{
    color: $secondary;
}
%color_third{
    color: $third;
}
%color_fourth{
    color: $fourth;
}
%background_first{
    background: $first;
}
%background_secondary{
    background: $secondary;
}
%background_third{
    background: $third;
}
%background_fourth{
    background: $third;
}
%background_fifth{
    background: $fifth;
}
%background_sixth{
    background: $sixth;
}
//btn 
%btn{
    border-radius: $border-radius-default;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    @include rhythm(16, 26);
    @include media-breakpoint-up(lg){
        @include rhythm(18, 26);
    }
    text-align: center;
    border-width: 1px;
    border-style: solid;
   
}


//placeholders
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

